.Editor-container{
    min-width: 550px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 1px 1px 4px rgba( 0,0,0,0.12);
    padding-top: 5px;


}

.Editor-header{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    border-bottom: 1px solid rgba( 0,0,0,0.1 );

}
.Editorsection{
    padding: 10px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;
}


.Editoractive{
    border-bottom: 2px solid #239ec2;
    color:#239ec2;
}